/* CSS Document */
@charset "utf-8";

html, body{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,191,255,1) 50%, rgba(255,255,255,1) 100%);
	height: 100%;
		}

button{
	padding: 1.5em 0;
	width: 18em;
	display: block;
	background-color: #d3d3d3;
	margin-bottom: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

#temperaturereading{
	color: yellow;
}

 #temptext {
	color: green;
}

#celciustext {
	color: purple;
}

button:hover{
	background-color: aquamarine !important;
}

.buttonPane label{
	display: block;
	font-size: 2em;
	margin-bottom: 20px;
}

.buttonPane{
	display: inline-block;
	margin-left: 10px;
	border: 2px solid black;
	margin-top: 10px;
	padding: 0 5px;
}

@media only screen and (max-width: 384px){
	.buttonPane{
		width: 90%;
	}
	.servertext{
		margin-left: 10px;
	}
}
/* Part for other devices*/
/* 
@media screen and (max-width: 500px){

} */
